# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
MCMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
DartConfiguration.tcl
app/CMakeFiles/
app/CTestTestfile.cmake
Makefile
app/Makefile
app/cmake_install.cmake
app/questions_app
cmake_install.cmake
src/CMakeFiles/
src/CTestTestfile.cmake
src/Makefile
src/cmake_install.cmake
tests/CMakeFiles/
tests/CTestTestfile.cmake
tests/Makefile
tests/cmake_install.cmake
tests/tests
tests/tests_include-b12d07c.cmake
tests/tests_tests-b12d07c.cmake
CMakeCache.txt
Testing/
src/CMakeLists.txt
app/CMakeLists.txt
tests/CMakeLists.txt
